{% extends "base.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
 


    <div class="container reset roboto">
        <div class="row">
          <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Reset Password" %}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 mt-3 offset-md-2">
            <form
              class="signup"
              id="signup_form"
              method="post"
              action="{% url 'account_reset_password' %}"
            >
              {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
              <input
                type="hidden"
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}"
              />
              {% endif %}
              <button class="btn btn-primary " type="submit">
                {% trans "Reset My Password" %} &raquo;
              </button>
            </form>
          </div>
        </div>
    </div>
      

{% endblock content %}
