#head-color {
  height: 60px;
  background-color: #083a73;

}

.navbar-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-icons img {
  margin-right: 25px;
}

.finns-container {
  margin: auto;
}
