{% extends "base.html" %} {% block title %}{{ Delete Blog Post }}{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="mb-4 text-center">Delete{{ post.title }}</h1>

      <form
        action="{% url 'product:delete' product.id %}"
        method="post"
        accept="."
        enctype="multipart/form-data"
        class="needs-validation"
        novalidate
      >
        {% csrf_token %}

        <div class="mb-3">{{ form.as_p }}</div>

      </form>
    </div>
  </div>
  {% endblock %}
</div>
