{% extends "base.html" %}

{% block title %}
    {% if edit %}
        Edit {{ edit }}
    {% else %}
        Add New Product
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="mb-6 text-3xl">{{ title }}</h1>

    <form action="{% url 'product:edit_product' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="space-y-4">
            {{ editForm.as_p }}
        </div>

        {% if editform.errors or editform.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in editform %}
                    {{ field.errors }}
                {% endfor %}

                {{ editform.non_field_errors }}
            </div>
        {% endif %}

        <button type="submit">Submit</button>
    </form>
{% endblock %}
