<!-- templates/about.html -->
{% extends "base.html" %} {% block content %}
<section class="py-5 text-center container roboto">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to Finns Skincare</h1>
      <p class="lead text-body-secondary">
        At Finns Skincare, we believe that every individual deserves to feel
        confident and beautiful in their own skin. With our carefully curated
        selection of premium skincare products, we strive to empower you to
        embrace your natural beauty and unleash your inner glow.
      </p>
    </div>
  </div>


<div class="album py-5 bg-body-tertiary roboto">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/images/pexels-shiny-diamond-3762875.jpg" alt="" />
          <div class="card-body">
            <p class="card-text">
              Whether you're looking to combat acne, hydrate dry skin, or simply
              maintain a youthful appearance, our extensive range of skincare
              products has you covered. From gentle cleansers and nourishing
              moisturizers to potent serums and targeted treatments, we offer
              everything you need to build a personalized skincare routine
              tailored to your unique needs and preferences.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img
            src="/static/images/tobias-tullius-PJgtd5q-E00-unsplash.jpg"
            alt=""
          />
          <div class="card-body">
            <p class="card-text">
              At Finns Skincare, we prioritize quality above all else. That's
              why we source only the finest ingredients and collaborate with
              trusted skincare experts to formulate products that deliver real
              results. With our commitment to excellence, you can shop with
              confidence knowing that each product is rigorously tested and
              backed by our satisfaction guarantee.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/images/pexels-shiny-diamond-3762879.jpg" alt="" />
          <div class="card-body">
            <p class="card-text">
              We understand that navigating the world of skincare can be
              overwhelming, which is why we're here to make beauty simple and
              accessible for everyone. Our user-friendly website features
              detailed product descriptions, helpful skincare tips, and customer
              reviews to guide you every step of the way. Plus, our dedicated
              customer support team is always on hand to answer any questions
              you may have and provide personalized recommendations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock content %}
