<!-- templates/about.html -->
{% extends "base.html" %} {% block content %}
<div class="container text-center about-container">
  <!-- Our Mission Section -->
  <div class="row p-3">
    <div class="col gap-3">
      <h1>Our Mission</h1>
      <p>
        At Finns, we're dedicated to redefining skincare through the harmonious
        fusion of nature and beauty. As an all-natural and eco-friendly company,
        our mission is to provide skincare products that nourish both your skin
        and the planet. We commit to using ethically sourced ingredients and
        eco-conscious packaging to minimize our ecological impact. Join Finns in
        embracing a simpler, purer approach to beauty&mdash;one that respects
        nature and empowers you to reveal your authentic radiance.
      </p>
    </div>
    <div class="col mt-3 mt-md-0">
      <img
        class="img-fluid"
        src="/static/images/campaign-creators-gMsnXqILjp4-unsplash.jpg"
        alt=""
      />
    </div>
  </div>

  <!-- Our Story Section -->
  <div class="row p-3">
    <div class="col">
      <img
        src="/static/images/amanda-dalbjorn-fvInY-Gh7sc-unsplash.jpg"
        alt=""
        class="img-fluid"
        style="height: 300px"
      />
    </div>
    <div class="col mt-3 mt-md-0">
      <h1>Our Story</h1>
      <p>
        In the bustling city, Harry, driven by a passion for sustainability and
        a love for the environment, founded Finns—a skincare brand with a
        mission. Inspired by global travels and traditional skincare wisdom,
        Harry envisioned a line that encapsulated authenticity and modernity.
        Facing skepticism, Harry and his dedicated team tirelessly developed
        formulations with ethically sourced, natural ingredients. The brand's
        commitment to sustainability, from its minimalist packaging to
        eco-friendly practices, became its signature. Finns swiftly gained
        recognition for its authenticity and commitment to eco-friendly
        practices, becoming a symbol of conscious beauty choices and
        environmental responsibility. Today, Finns stands as a testament to
        Harry's vision—a professional journey blending passion, purpose, and the
        enduring beauty of nature.
      </p>
    </div>
  </div>

  <!-- Our History Section -->
  <div class="row p-3">
    <div class="col">
      <h1>Our History</h1>
      <p>
        Harry founded Finns with a vision to revolutionize skincare through
        sustainability. Inspired by global travels and traditional practices, he
        blended ancient wisdom with modern science. Overcoming skepticism, Harry
        and his team sourced natural ingredients from local communities,
        creating a range of authentic skincare products. Finns quickly gained
        recognition for its commitment to sustainability, from minimalist,
        recycled packaging to eco-friendly manufacturing. Today, it stands as a
        symbol of responsible beauty choices, a brand born from a dedication to
        both efficacy and environmental consciousness.
      </p>
    </div>
    <div class="col mt-3 mt-md-0">
      <img
        src="/static/images/viva-luna-studios-KiQt6CC0BvY-unsplash.jpg"
        alt=""
        class="img-fluid"
      />
    </div>
  </div>
</div>
{% endblock content %}
