{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="roboto">
    {# Content for authenticated users #}
    <a class="nav-link d-flex justify-content-end {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>

    <div class="container d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="col-md-6">
                <!-- Your image display logic here -->
            </div>
            <div class="col-md-6">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name }}</h5>
                        <p class="card-text">{{ object.bio }}</p>
                        <p class="card-text">{{ object.location }}</p>
                        <p class="card-text">{{ object.date_of_birth }}</p>
                        <p class="card-text">{{ object.address }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
