<!-- templates/about.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %} 
{% block content %}

<div class="img-container">
  <img
    src="/static/images/pexels-julia-volk-7099647.jpg"
    class="img_fluid"
    id="hero-contact-img"
    alt=""
  />
  <div class="centered">
    <h1>Contact Us Below</h1>
  </div>
</div>

<!-- Contact Form -->
<div class="container-lg roboto mt-5 contact-us">
  <div class="row">
    <div class="col-md-6">
      <i class="fa-regular fa-envelope"></i>
      <h2>Email Us Anytime</h2>
      <p>
        For all customer and business enquiries, please email
        <a href="mailto:info@finnskincare.com">info@finnsskincare.com</a>
      </p>
      <p>
        For press and influencer enquiries only, please email
        <a href="mailto:PR@finnskincare.com">PR@finnsskincare.com</a>
      </p>
      <p>
        Alternatively, please fill in the details below, along with a short
        message, and a member of the FINNS team will contact you shortly.
      </p>
      <p>
        If you're looking to get in touch with a specific FINNS Ambassador,
        please provide their name and location in your message.
      </p>
      <div class="container mt-5 roboto">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h2 class="text-center">Contact Us</h2>
            <form method="post">
              {{ contact_form | crispy }}
              {% csrf_token %}
              <button class="btn btn-secondary"
                type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <i class="fa-solid fa-phone"></i>
      <p>GIVE US A CALL</p>
      <p>
        Give us a call on +44-5317-191-253 to speak to one of our customer
        service advisors.
      </p>
      <p>Monday - Friday: 8am-7pm GMT</p>
      <p>Weekends: 9am-5pm GMT</p>
      <p>Closed Bank Holidays</p>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/alert.js"></script>

{% endblock content %}
