{% extends "base.html" %} 
{% load static %} 
{% block content %}
{% url 'cart_add' as cart_add_url %}

<div class="container d-flex align-items-center justify-content-center product-detail">
  <div class="row">
    <div class="col-md-6">
      {% if "placeholder" in object.product_image.url %}
      <img
        class="card-img-top img-fluid product-image-detail"
        src="{% static 'images/default-image-icon-missing-picture-page-vector-40546530.jpg' %}"
        alt="placeholder image"
      />
      {% else %}
      <img
        class="card-img-top img-fluid product-image-detail"
        src="{{ object.product_image.url }}"
        alt="{{ object.title }}"
      />
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="card text-center mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ object.title }}</h5>
          <p class="card-text">{{ object.description }}</p>
          <p class="card-text">£{{ object.price }}</p>
          <p class="card-text">{{ object.id }}</p>
          <form method="post">
            {% csrf_token %}
            <input type="submit" value="Add to Cart">
        </form>
        {% if user.is_authenticated %}
        <a href="{% url 'product:delete_post' pk=product.pk %}">Delete</a>
        {% endif %}
      </div>
      </div>
    </div>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


{% endblock %}

{% block extras %}
<script src="{% static 'js/delete.js' %}"></script>
{% endblock %}
