{% extends "base.html" %} {% load static %} {% block content %}


<div class="container d-flex align-items-center justify-content-center product-detail ">
  <div class="row">
    <div class="col-md-6">
      {% if "placeholder" in object.product_image.url %}
      <img
        class="card-img-top img-fluid product-image-detail"
        src="{% static 'images/default-image-icon-missing-picture-page-vector-40546530.jpg' %}"
        alt="placeholder image"
      />
      {% else %}
      <img
        class="card-img-top img-fluid product-image-detail"
        src="{{ object.product_image.url }}"
        alt="{{ object.title }}"
      />
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="card text-center mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ object.title }}</h5>
          <p class="card-text">{{ object.description }}</p>
          <p class="card-text">{{ object.price }}</p>
          <a href="#" class="btn btn-primary">ADD TO BASKET</a>
          <a href="#" class="btn btn-primary">ADD TO WISHLIST</a>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- index.html content ends here -->
{% endblock %}
