{% extends "base.html" %} 
{% load static %} 
{% block content %}
{% url 'cart_add' as cart_add_url %}

<div class="container d-flex align-items-center justify-content-center product-detail">
  <div class="row">
    <div class="col-md-6">
      {% if "placeholder" in object.product_image.url %}
      <img
        class="card-img-top img-fluid product-image-detail"
        src="{% static 'images/default-image-icon-missing-picture-page-vector-40546530.jpg' %}"
        alt="placeholder image"
      />
      {% else %}
      <img
        class="card-img-top img-fluid product-image-detail"
        src="{{ object.product_image.url }}"
        alt="{{ object.title }}"
      />
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="card text-center mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ object.title }}</h5>
          <p class="card-text">{{ object.description }}</p>
          <p class="card-text">£{{ object.price }}</p>
          <p class="card-text">{{ object.id }}</p>
          <a href="#" data-product-id="{{ object.id }}" id="add-cart" class="btn btn-primary">ADD TO BASKET</a>
          <a href="#" class="btn btn-primary">ADD TO WISHLIST</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
      $("#add-cart").click(function(e){
          e.preventDefault();
          var product_id = $(this).data('product-id');
          $.ajax({
              url: '/cart/add/',
              data: {
                  'product_id': product_id,
                  'action': 'post'
              },
              type: 'post',
              cache: false,
              beforeSend: function(xhr) {
                  xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
              },
              success: function (data) {
              },
              error: function(){
                  alert("There was an error adding the product to the cart.");
              }
          });
      });
  
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
  });
  </script>

{% endblock %}
